:root {
	font-family: "Nunito Sans", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#gameCanvas {
	width: 900px;
	height: 650px;
	border: 1px solid red;
	background-color: white;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height: 100vh;
	margin: 0;
	padding: 1rem;
}

.header {
	text-align: center;
}
.main {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer {
	text-align: right;
}
